= form_for @post, :html => {:class => 'form-signin', :role => "form"} do |f|
  h2.form-signin-heading Fill in form please
  - if @post.errors.any?
    #error_explanation"
    - @post.errors.full_messages.each do |message|
      div class="alert alert-danger" role="alert"
      = message

  div class="field"
    = f.text_field :title, :class => 'form-control', :placeholder => 'Title'

  div class="field"
    = f.text_area :body, :class => 'form-control', :placeholder => 'Body'

  div class="field"
    =f.text_field :tags, :class => 'form-control', :placeholder => 'Tags', 'data-role'=>'tagsinput'

  div class="actions"
    = f.submit 'Submit', :class => 'btn btn-lg btn-primary btn-block'

