h1 Editing post

= render 'form'

ul.list-inline
  li = link_to 'Show', @post,:class => 'white-color btn btn-info btn-sm',:role => 'button'
  li = link_to 'Back', posts_path, :class => 'white-color btn btn-warning btn-sm', :role => 'button'

