#comments {
  font-size: 12px;
  background-color: #EEE;
  padding: 0 20px;
  width: 100%;
  border: solid 1px #777;
}

.comment {
  border-bottom: solid 1px #999;
  padding: 0 20px;
  margin: 15px 0;
  &:last-child {
    border-bottom: none;
  }
}

#comment_content {
  margin-top: 15px;
  width : 375px;
}